@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:var(--Dark-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

:root{
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: #52ffa8;
}

.main{
    background-color:var(--Dark-Grayish-Blue);
    width: 44rem;
    height: 25rem;
    border-radius: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 75%;
    height: 100%;
}


.button-dice{
    background-color: var(--Neon-Green);
    border: none;
    border-radius:12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    position: relative;
    bottom: -2rem;
}
.button-dice:hover{
    box-shadow:0px 1px 15px var(--Neon-Green);
}
.button-dice:active{
    transform: scale(0.94);
}

.image-dice{
    border: none;
    width: 60%;
    height: 50%;
}
.mensaje--width{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mensaje--color{
    color: white;
    font-size: 28px;
}

.advice--color{
    color: var(--Neon-Green);
    letter-spacing: 0.3rem;
}

.divider-mobile{
    display: none;
}


@media(max-width:768px){
    .main{
        width: 80%;
        height: auto;

    }
    .divider-desktop{
        display: none;
    }
    .divider-mobile{
        display: block;
    }
}

@media(max-width:500px){
    .main{
        width: 90%;
        height: 30rem;
    }
    .button-dice{
        position: relative;
    bottom: -3rem;
    }
}